.DS_Store
.DS_Store
/.claude
auth_state.json
/.vscode
*.csv
/__pycache__

FencingTimeLive_CSV_script.py
FenTimeLive_Poolsheet_CSV_script.py
FenTimeLive_Tableau_CSV_script.py
/Fencing Time Live_files
/Fencing Time Live
Fencing Time Live.html
.env